<h1>Body Component</h1>

<div class="row">

  <div class="col columna">
    <h1>*ngIf</h1>
    <hr>
    <div *ngIf="mostrar" class="card col-12" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ getFrase().autor }}</h5>
        <p class="card-text">{{ getFrase().mensaje }}</p>
        <ul>
          <li>Nombre: {{ nombre }}</li>
          <li>Apellido: {{ apellido }}</li>
        </ul>
      </div>
    </div>
      <button (click)=" mostrar = !mostrar " class="btn btn-outline-primary m-3">
        Mostrar/Ocultar
      </button>
  </div>

  <div class="col columna">
    <h1>*ngFor</h1>
    <hr>
    <ul class="list-group">
      <li *ngFor="let personaje of personajes; let i = index" class="list-group-item">{{ i+1 }}. {{ personaje }}</li>
    </ul>
  </div>

</div>


