<div class="card-columns">
  <div *ngFor="let item of items" class="card">
    <img [src]="item.images | noimage" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> {{ item.name }} </h5>
      <ul class="card-text">
        <li *ngFor="let artist of item.artists">
          <p>{{ artist.name }} <span class="badge badge-info">{{ artist.type | titlecase }}</span></p>
        </li>
      </ul>

      <footer class="blockquote-footer">
        <small class="text-muted">
          {{ item.type | titlecase}} released in {{ item.release_date | date }}
        </small>
      </footer>
    </div>
  </div>

</div>
